<!-- footer section start --> 
   <footer>
   		<div class="main-footer">
        <div class="footer-logo-container"><%= image_tag "index.png" %></div><!-- footer-logo-container -->
        <div class="footer-menu-container"><ul>
          <li><a href="#">about</a></li>
          <li><a href="#">posts</a></li>
          <li><a href="#">product</a></li>
          <li><a href="#">pricing</a></li>
          <li><a href="#">videos</a></li>
          <li><a href="#">contact</a></li>
        </ul></div><!-- footer-menu-containe -->
        <div class="footer-social-menu">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div><!-- footer-social-menu -->
      </div><!-- main-footer -->
       <div class="sub-footer">
        <div class="copyright">Copyright © - 2022 Kannan PAN India. All Rights reserved. designed by <a href="#">Arulselvan</a></div><!-- copyright -->
      </div><!-- sub-footer -->
     
   </footer>
  
   <!-- footer section end -->